
/* Normal desktop :992px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.demo-bg {
  top:30px;
}
.col-md-4 .demo-bg {
  top: 23px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1169px) {

}
/* Tablet desktop :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.demo-bg,.col-md-4 .demo-bg {
  top: 26px;
}
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {
  width: 300px;
}

.demo-bg ,.col-md-4 .demo-bg{
  top: 24px;
}
.pages-title h2 {
  font-size: 30px;
}
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {
  width: 450px;
}
.col-md-4 .demo-bg,.demo-bg {
  top: 30px;
}
}
